$calories: rgb(230, 183, 14);
$fat: rgb(255, 153, 113);
$carbs: rgb(15, 180, 195);
$fiber: rgb(15, 180, 195);
$protein: rgb(55, 161, 108);
$exceeded: rgb(230, 83, 99);

#custom-trainerize-export {
    padding-bottom: 24px;

    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        font-size: 1.25rem;
    }

    .calories {
        background: $calories;
    }

    .fat {
        background: $fat;
    }

    .carbs,
    .fiber {
        background: $carbs;
    }

    .fiber {
        background: fade-out($color: $carbs, $amount: 0.3);
    }

    .protein {
        background: $protein;
    }

    .section {
        margin-bottom: 30px;
    }

    .bar-container {
        margin: 10px 0 15px;

        &.bar-micro {
            margin-left: 25px;
        }
        &.bar-exceeded {
            .bar > div,
            .legend .icon {
                background: $exceeded;
            }
            .legend > .label:last-child {
                color: $exceeded;
                font-weight: bold;
            }
        }
        .bar {
            height: 10px;
            background: #dae0e6;
            border-radius: 4px;
            display: flex;
            align-items: stretch;
            overflow: hidden;
            > div:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            > div:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        .icon {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 4px;
            border-radius: 100%;
        }
        .legend {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;

            .label::first-letter {
                text-transform: capitalize;
            }
        }
    }

    .daily-entry {
        margin-bottom: 30px;
        border: 1px solid #efefef;
        padding: 0 8px 8px;
        border-radius: 8px;
        margin-bottom: 16px;
        overflow: hidden;
        h2 {
            text-align: left !important;
            margin: 8px 0;
            font-size: 1.125rem !important;
        }
    }

    .meal {
        background: #fafafa;
        margin: 0 -8px;
        padding: 16px;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 16px;
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        &:last-child {
            margin-bottom: -8px;
            padding-bottom: 16px;
            border-bottom-width: 0;
        }

        h3 {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0 0 1rem;
        }
        .meal--type {
            text-transform: capitalize;
            font-size: 1rem;
        }

        .meal--calories {
            margin-left: auto;
            font-size: 1rem;
            font-weight: normal;
        }

        .meal--image {
            width: 25%;
        }

        .meal--image img {
            width: 100%;
            border-radius: 8px;
        }
        .meal--details {
            flex-grow: 1;
        }

        .meal--timestamp {
            font-size: 1rem;
            font-weight: normal;
        }

        .meal-items {
            list-style-type: none;
            padding: 0;
            margin: 16px 0 0;
        }

        .meal-item {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: space-between;

            &:not(:last-child) {
                margin: 0 0 0.5rem;
                padding: 0 0 0.5rem;
                border-bottom: 1px solid #e3e3e3;
            }

            p {
                margin: 0;
            }
        }

        .meal-item--name {
            font-size: 1rem;
        }

        .meal-item--size {
            font-size: 0.75rem;
        }
    }
}

.tpe-print-button {
    position: relative;
    &:hover span,
    &:focus-visible span {
        opacity: 1;
    }
    &:disabled span {
        opacity: 0;
    }
    span {
        position: absolute;
        top: calc(100% + 7px);
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        color: white;
        background: rgb(34, 158, 212);
        padding: 3px 6px;
        border-radius: 4px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
        &:before {
            content: "";
            border: 7px solid;
            border-color: transparent transparent rgb(34, 158, 212) transparent;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -7px);
            border-top-width: 0;
        }
    }
}

@media print {
    body {
        padding: 0 !important;
    }

    .pagebreak {
        page-break-before: always;
    }
    #custom-trainerize-export {
        padding-bottom: 0;
    }
}

@media print {
    body.custom-trainerize-export-active > *:not(#custom-trainerize-export) {
        display: none !important;
    }
    body.custom-trainerize-export-active > #custom-trainerize-export {
        display: block;
    }
}

@media screen {
    body.custom-trainerize-export-active > #custom-trainerize-export {
        display: none !important;
    }
}
